<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workspace Join Notification</title>
</head>
<body>
    <h1>Workspace Join Notification</h1>
    
    <p>Hello <%= Name %>,</p>
    
    <p>You have successfully joined the "<%= workplaceName %>" workspace.</p>
    
    <p>Thank you for joining!</p>
    
    <p>Best regards,</p>
    <p>Your Workspace Team</p>
</body>
</html>
