<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Your Password</title>
</head>
<body>
    <div style="text-align: center; padding: 20px;">
        <h1>Reset Your Password</h1>
        <p>We received a request to reset your password. If you did not make this request, please disregard this email.</p>
        <p>To reset your password, click on the link below:</p>
        <p><a href="http://localhost:3000/reset-password/<%= token %>">Reset Password</a></p>
        <p>This link will expire in 24 hours for security reasons.</p>
        <p>If you need further assistance, please don't hesitate to contact us.</p>
        <p>Thank you!</p>
    </div>
</body>
</html>

