<!DOCTYPE html>
<html>
<head>
    <title>ForgetPassword</title>
</head>
<body>
    <h1>Forget Password</h1>
    <h3><a href="http://localhost:3000/reset-password/<%= token %>">Click here for ForgetPassword</a></h3>
</body>
</html>
